* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

body {
    background-color: rgb(245, 245, 245);
    height: 100%;
}

a {
    color: rgb(58, 58, 58);
    text-decoration: none;
    font-weight: 300;
    font-size: 19px;
    transition: all 1s;
}

a:hover {
    color: #F62A00; 
}

//base font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

$base-color: #00293C;
$secondary-color: #F62A00;
$font-color: #F1F3CE; 

