//base font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

$base-color: #3498db;
$secondary-color: #F62A00;
$font-color: #F1F3CE; 

a {
    transition: all 0.5s;
}

a:hover {
    color: black; 
}
