$base-color: #3498db;
$secondary-color: #f62a00;
$font-color: #cbfffa;
$font-family: "Roboto", sans-serif;

$bg-gradient: linear-gradient(
    180deg,
    hsl(0deg 0% 0%) 0%,
    hsl(230deg 100% 4%) 45%,
    hsl(223deg 100% 5%) 59%,
    hsl(218deg 92% 5%) 100%
  );

$a-color:#cbfffa;
$a-hover-color: white;
